services:
  vaultwarden:
    image: vaultwarden/server:1.34.3
    restart: always
    volumes:
      - "bw:/data"
    ports:
      - "8442:80"
    env_file:
      - ../stack.env
volumes:
  bw: {}