services:
  vaultwarden:
    image: vaultwarden/server:1.32.3
    restart: always
    volumes:
      - "bw:/data"
    environment:
      SIGNUPS_ALLOWED: ${SIGNUPS_ALLOWED}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_FROM: ${SMTP_FROM}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_SSL: ${SMTP_SSL}
      SMTP_USERNAME: ${SMTP_USERNAME}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      ADMIN_TOKEN: ${ADMIN_TOKEN}
      DOMAIN: ${DOMAIN}
      ORG_EVENTS_ENABLED: ${ORG_EVENTS_ENABLED}
      EVENTS_DAYS_RETAIN: ${EVENTS_DAYS_RETAIN}
      PUSH_ENABLED: ${PUSH_ENABLED}
      PUSH_INSTALLATION_ID: ${PUSH_INSTALLATION_ID}
      PUSH_INSTALLATION_KEY: ${PUSH_INSTALLATION}
      LOG_FILE: ${LOG_FILE}
      LOG_LEVEL: ${LOG_FILE}
      WEB_VAULT_FOLDER: ${WEB_VAULT}
      WEB_VAULT_ENABLED: ${WEB_VAULT_ENABLED}
    ports:
      - "8442:80"
    env_file:
      - stack.env
volumes:
  bw: {}

networks:
  default:
    external:
      name: ProxyNet