version: '3.8'
services:
    zigbee2mqtt:
        container_name: zigbee2mqtt
        image: koenkk/zigbee2mqtt
        restart: unless-stopped
        entrypoint: ["/bin/sh", "-c", "sleep 20; node index.js"]
        volumes:
            - /opt/z2m/data:/app/data
            - /run/udev:/run/udev:ro
        ports:
            # Frontend port
            - 8080:8080
        environment:
            - TZ=America/Edmonton
        devices:
            # Make sure this matched your adapter location
            - /dev/serial/by-id/usb-ITead_Sonoff_Zigbee_3.0_USB_Dongle_Plus_76ea1cf3b739ec118382e6680aac08d5-if00-port0:/dev/ttyUSB0